body {
    /* Margen predeterminado de las páginas web */
    margin: 0;
    /* Margen pa' dentro */
    padding: 0;
    /* Tamaño de la fuente */
    font-size: 12px;
    /* Fuente de texto */
    font-family:Arial, Helvetica, sans-serif;

}

/*************************** NAVEGACIÓN ************************/

header {
    /*background: radial-gradient(#8267AE, #31549A, #090909);*/
    background-color: rgb(255, 255, 255);
    /* width = anchura, height = altura width */
    width: 100%;
    height: 55px;
}

header nav {
    display: flex;
    /* Mover mi nav hacia la derecha */
    justify-content: flex-end;
}

header nav .nav-right-section {
    /* Eliminar viñetas */
    background-color: rgb(255, 255, 255);
    list-style: none;
    width: 250px;
    /* Hacemos el elemento flexible */
    display: flex;
    /* Centramos */
    justify-content: space-between;
    /* Centrar vertical */
    align-items: center;
    height: auto;
}

nav .nav-right-section a {
    /* Color de texto */
    color: rgba(0, 0, 0, .87);
    /* Quitar delineado */
    text-decoration: none;

}

nav .nav-right-section .menu {
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 20px;
    height: 20px;
    /* Tamaño de la imagen, esta contenida, se debe quedar donde le decimos */
    background-size: contain;
    background-repeat: no-repeat;
}

nav .nav-right-section img {
    /* Margen derecho y hacer espacio a la foto */
    margin-right: 20px;
    border-radius: 100%;
}

/*************************** MAIN ************************/

main {
    /* Margen superior */
    margin-top: 200px;
    background-color: rgb(255, 255, 255);
    /* Centrar elementos */
    text-align: center;
}

main .main-logo {
    background-color: rgb(255, 255, 255);
    width: 500px;
    margin: 0 auto;
    margin-bottom: 40px;
}

main .main-logo img {
    /* Editar tamaño de la imagen*/
    height: 92px;
}

/* INPUT SECTION */
main .main-input {
    background-color: rgb(255, 255, 255);
    width: 500px;
    /* 530px */
    margin: 0 auto;
}

main .main-input-container {
    background-color: rgb(255, 255, 255);
    width: 500px;
    border: 1px solid #dfe1e5;
    border-radius: 35px;
}

main .main-input input {
    height: 45px;
    border: none;
    outline: none;
    width: 400px;
}

main .main-input .search-icon {
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    background-size: contain;
    background-position: center;
    padding-left: 6%;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-left: 10px;
}

main .main-input .micro-icon {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    width: 25px;
    height: 25px;
    background-size: contain;
    background-position: center;
    padding-left: 10px;
    background-repeat: no-repeat;
}

main .main-input .cam-icon {
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    width: 25px;
    height: 25px;
    background-size: contain;
    background-position: center;
    padding-left: 6%;
    background-repeat: no-repeat;
    margin-right: 10px;
}

main .main-input-container:hover {
    box-shadow: 3px 3px 3px 3px #20212447;
    border-color: #dfe1e500;
}

/*************************** MAIN BUTTONS SECTION ************************/

main .main-buttons {
    background-color: rgb(255, 255, 255);
    /* Anchura */
    width: 550px;
    /* La mejor propiedad para centrar cosas Vertical Horizontal */
    margin: 0 auto;
}

main .main-buttons div {
    /* Alinear elementos en la misma linea */
    display: inline;
    background-color: rgb(255, 255, 255);
}

main .main-buttons button {
    /* Separación entre buscador y botones */
    margin-top: 30px;
    border: none;
    height: 40px;
    background-color: #f8f9fa;
    color: #3c4043;
    border-radius: 5px;
    padding: 0px 15px;
    font-size: 14px;
    margin-right: 10px;
}

main .main-buttons button:hover {
    color: #202124;
    /* Borde + oscuro al pasar el mouse */
    border: 1px solid #dadce0;
    /* Sombra */
    box-shadow: 0 1px 1px 1px rgba(0,0,0,.1);
    
}


/*************************** FOOTER ************************/

footer {
  background-color: #F2F2F2;
   width: 100%;
} 

footer section .footer-top-left {
    margin-top: 100px;
    /* background-color: rgb(255, 255, 255); */
    list-style: none;
    padding: 5px 40px;
    border-bottom: 1px solid #DADCE0;
}

footer .footer-section {
    display: flex;
}

footer .footer-bottom-left {
    /* background-color: rgb(255, 255, 255); */
    width: 500px;
    padding: 5px 40px;
    display: flex;
    justify-content: space-between; 

}

 footer .footer-bottom-rigth {
    /* background-color: rgb(255, 255, 255); */
    width: 300px;
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
    margin-left: 580px;
}



/*  */